.carousel-img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.space-details {
  list-style: none;
}

#reviewstick {
  position: sticky;
  top: 85px;
  background-color: #f4f4f4;
  z-index: 500;
}
