.btn {
  border-radius: 20px;
}

.card-dash {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 20px;
}

.card-dash:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.9);
}

.card-dash > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-dash h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-dash h3 {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}

.card-dash p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-dash .card-dash-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-dash-infos .card-dash-user {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 40px;
}
