<div>
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="m-3">My Spaces</h2>
    <%= link_to 'Add a new space', new_space_path, class: "btn btn-primary m-3" %>
  </div>

  <div class="container mt-7 .bg-transparent border-0">
    <div class="cards">
      <div class="card-dash mx-2 pb-3" style="width: 18rem;">
        <% @spaces.each do |space| %>
          <%= render "shared/cardsdash" %>
          <div class="d-flex justify-content-between px-2">
            <%= link_to 'Update space', edit_space_path(space), class: "btn btn-outline-success" %>
            <%= link_to 'Delete space', space_path(space), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
