<ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link px-7 font-weight-bold active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">My Spaces</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link px-7 font-weight-bold" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Requests</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link px-7 font-weight-bold" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">My Bookings</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><%= render partial: 'users/my_spaces' %></div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"><%= render partial: 'users/requests' %></div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"><%= render partial: 'users/my_bookings' %></div>
</div>

<%# secondary choices - sort my_spaces by catgories, sort requests by spaces/dates, sort bookings by spaces/dates %>
<a href=""></a>
