<div class="banner">
  <div class="app-title">
    <h1>SpaceRental</h1>
  </div>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
       <figure class="overlay">
       <figcaption class="z-50"></figcaption>
        <%= image_tag "heritage_banner_2.jpeg", class: "d-block"; %>
       </figure>
      </div>
      <div class="carousel-item">
      <figure class="overlay">
       <figcaption class="z-50"></figcaption>
        <%= image_tag "heritage_banner_3.jpg", class: "d-block"%>
          </figure>
      </div>
      <div class="carousel-item">
         <figure class="overlay">
         <figcaption class="z-50"></figcaption>
           <%= image_tag "heritage_ banner.jpg", class: "d-block"%>
          </figure>
      </div>
    </div>
  </div>
</div>
