<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://scontent-lhr8-1.xx.fbcdn.net/v/t39.30808-6/277809187_360827676061363_3171227027213471345_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_ohc=beGqayjsaiEAX_8ylTt&_nc_ht=scontent-lhr8-1.xx&oh=00_AfDxJGdt09eieBOeiKymE79SDPCVth2FWUyXpGCo_eEeFg&oe=647B4154);">
  <div class="container">
    <h1> SpaceRentals</h1>
  </div>
</div>
