<p style="color: green"><%= notice %></p>

<h1>Event places</h1>

<div id="event_places">
  <% @event_places.each do |event_place| %>
    <%= render event_place %>
    <p>
      <%= link_to "Show this event place", event_place %>
    </p>
  <% end %>
</div>

<%= link_to "New event place", new_event_place_path %>
